.dsc-search-bar {
    height: 40px;
    display: flex;
    color: var(--dsc-color-font-primary);
  }
  
  .dsc-search-bar button, .dsc-search-bar input {
    border: 1px solid var(--dsc-color-card-border);
  }
  
  .dsc-search-bar input {
    width: calc(100% - 80px);
    border-left: none;
    border-right: none;
    padding: 0 10px;
    font-size: 16px;
    color: var(--dsc-color-font-primary);
  }
  
  .dsc-search-bar input:focus {
    outline: none;
  }
  
  .dsc-search-bar input::placeholder {
    color: var(--dsc-color-font-placeholder);
  }
  
  .dsc-search-bar button {
    width: 40px;
    color: var(--dsc-color-font-primary);
  }
  
  .dsc-search-bar button[type="submit"] {
    border-right: none;
    border-radius: 4px 0 0 4px;
  }
  
  .dsc-search-bar button[type="reset"] {
    border-left: none;
    border-radius: 0 4px 4px 0;
  }
  
  /*-----------------------------------------------------------------*/
  /* form styles */
  
  .dsc-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
  
  .dsc-form h2 {
    font-size: 16px;
    color: var(--dsc-color-font-primary);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
  }
  
  .dsc-form-controls-container {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    margin: 20px 0;
  }
  
  .dsc-form-control {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 20px;
    color: var(--dsc-color-font-primary);
    border-radius: 4px;
    border: 1px solid var(--dsc-color-card-border);
  }
  
  .dsc-form-control:focus {
    outline: none;
  }
  
  .dsc-form-control::placeholder {
    color: var(--dsc-color-font-placeholder);
  }
  
  .dsc-input-error {
    border: 1px solid var(--dsc-color-error);
  }
  
  .dsc-form-error {
    color: var(--dsc-color-error);
    font-size: 12px;
    padding-left: 4px;
  }
  
  .dsc-select:invalid {
    color: var(--dsc-color-font-placeholder);
  }
  
  .dsc-select option[disabled] {
    display: none;
  }
  
  .dsc-select option {
    color: var(--dsc-color-font-primary);
  }
  
  .dsc-textarea {
    resize: none;
    height: 128px;
    padding-top: 10px;
  }
  
  @media (min-width: 576px) {
    .dsc-form h2 {
      font-size: 24px;
    }
  }